$header-nav-bg-color: #2a2b2d;
$header-nav-text-color: #c6c6c6;

$banner1-btn-bg-color: #ffffff;
$banner1-btn-text-color: #3a465e;

$about-us-bg-color: #2a2b2d;
$about-us-h-color: #ffffff;
$about-us-text-color: #c6c6c6;

$portfolio-bg-color: #2a2b2d;
$portfolio-header-color: #ffffff;
$portfolio-tab-text-color: #ffffff;
$portfolio-tab--nav-btn-text-color: #c6c6c6;

$prices-bg-color: #2a2b2d;
$prices-text-color: #ffffff;

$contacts-bg-color: #2a2b2d;
$contacts-text-color: #ffffff;

$footer-bg-color: #2a2b2d;
$footer-headers-color: #c6c6c6;
$footer-text-color: #c6c6c6;
