.footer {
  background-color: $footer-bg-color;
}
.footer-header {
  color: $footer-headers-color;
  font-family: $adineue-PRO-Cyr;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
.footer-links {
  height: 200px;
  width: 100%;
  font-family: $adineue-PRO-Cyr;
  box-shadow: -9px -9px 13px -5px rgba(186, 186, 186, 0.07),
    5px 4px 13px rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  margin-bottom: 35px;
  tr {
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
  }
  a {
    color: $footer-text-color;
    font-size: 16px;
    text-decoration: none;
  }
}
.rigth-header {
  text-decoration: none;
  color: $footer-headers-color;
  font-family: $adineue-PRO-Cyr;
  font-size: 24px;
  text-align: center;
  margin-top: 55px;
}
.footer-icons {
  display: flex;
  margin: 20px;
  justify-content: center;
}
.footer-year {
  color: $footer-text-color;
  font-family: $adineue-PRO-Cyr;
  font-size: 16px;
  text-align: center;
}
